uvloop
fastapi
uvicorn
celery[redis]
celery-redbeat
aioredis>=2.0.1
konlpy
mecab-python3
elasticsearch==8.11.0
pdfminer.six
gensim
networkx
pymongo
pyyaml
quandl
pandas
pandas_datareader
matplotlib
finance-datareader
watchdog

rocksdict
astroid
pyright
libcst

prometheus_client
kubernetes
kubernetes_asyncio
bcc
openhands-sdk==1.17.0
openhands-tools=1.17.0